:root {
    /*Colors*/
    --bg-color-dark: #171717;
    --bg-color-gray: #212121;

    --bg-icon-green: #27AE60;
    --bg-icon-green-hover: #2b8d54; 

    --text-base-dark: #5f5f5f;
    --text-base-light: #fff;

    /* Fonts */
    --font-dm-sans: "DM Sans", sans-serif;
}